#confirmed {
    color: rgb(67, 67, 177);
}
#recovered {
    color: rgb(95, 125, 95);
}
#deaths {
    color: rgb(215, 110, 110);
}

img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

h1,h2 {
    letter-spacing: 1px;
}